.chip {
    display: inline-block;
    width: auto;
    padding: 10px 20px 15px;
    border-radius: 0 0 50% 50%;
    border: none;
    background-color: #1976d2;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;

    &:hover,
    &.selected {
        background-color: darkblue;
    }
}