/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    display: flex;
    max-width: 1200px;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px auto;
}